.Page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Page .Footer {
    flex-grow: 1;
}

.Page .Content {
    flex-grow: 2;
    margin-top: 35px;
}

.Page .pagetitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.Page .sectiondivider {
    margin: 10px 25px;
    height: 3px;
    background-color: #666;
    border-radius: 2px;
}